body {
  --bg-color: var(--tg-theme-bg-color);
  font: 12px/18px 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica,
    Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--tg-theme-text-color);
  margin: 48px 24px;
  padding: 0;
  color-scheme: var(--tg-color-scheme);
}
.App {
  text-align: left;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    padding: 20px 20px 50px 20px;
    flex: 1;
    h1 {
      padding-bottom: 20px;
    }
  }
  .bottom {
    flex: 0;
    border-top: solid 1px var(--adm-color-border);
    background: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
